body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

h1 {
  margin: 10px auto 0 auto;
  font-family: 'Quintessential', serif;
  font-size: 5.625rem;
  color: #1e6b6e;
  line-height: 1;
}

h2 {
  font-family: 'Martel', serif;
  font-size: 2.5rem;
  color: #1e6b6e;
  font-weight: normal;
}

h3 {
  font-family: 'Martel', serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
hr {
  border-top: 10px dotted #EAF6F6;
  width: 5%;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin: 100px auto;
}
p{
  line-height: 2;
  padding-bottom: 10px;
}

.top-container {
  background-color: #eeeeee;
  position: relative;
  padding-top: 100px;
  padding-bottom: 300px;
  background-image:url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/52890278_370315160472734_4899441010418909184_o.jpg?_nc_cat=111&_nc_sid=e3f864&_nc_ohc=7TttbtrmuOsAX89--Xx&_nc_ht=scontent-iad3-1.xx&oh=7f490874617da11111f8d68f59fcb8d9&oe=5F6CC4FF);
  background-size:cover;
}

.middle-container {
  margin-top: 50px;
  padding-bottom: 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  position: absolute;
  width: 100%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {}

.profile-description {
  width: 20%;
  margin: auto;
  line-height: 2;
}

.profile-picture {
  width: 10%;
  height: auto;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .75rem;
}

.contact-me {
  width: 25%;
  position: relative;
  margin: auto;
  padding-bottom: 80px;
}

.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Martel', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  color: #393e46;
  font-family: 'Montserrat',serif;
}
